<p id="notice"><%= notice %></p>
  <h1><%= @post.title %></h1>
  <p>
    Created: <%= @post.created_at %> <br>
    Updated: <%= @post.updated_at %>
  </p>

<%= link_to '<i class="material-icons left">edit</i>Edit'.html_safe, edit_post_path(@post), class: 'btn blue darken-2 waves-effect waves-light' %>
<%= link_to '<i class="material-icons left">arrow_back</i>Back'.html_safe, posts_path, class: 'btn blue darken-2 waves-effect waves-light'  %>
